.address {
  margin-top: 20px;
  // margin-right: 70px;
}

.address__link {
  display: block;
  text-decoration: none;
  color: $white-text-color;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms $cubic-brizer;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__link--color {
  color: $white-text-rgba;
}
