// .checkbox {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $primary-text-color;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}

.checkbox__user:checked + .checkbox__icon {
  background-color: $button-accent;
  border-color: $button-accent;
  background-size: contain;
  background-origin: border-box;
}

.checkbox__icon--check {
  position: absolute;

  fill: white;
  cursor: pointer;

  @media screen and(min-width:480px) {
    top: 0;
    left: 1px;
  }
  @media screen and(min-width:1200px) {
    top: 2px;
    left: 14px;
  }
}

.checkbox__text {
  color: $secondary-text-color;

  @media screen and(min-width:480px) {
    font-size: 12px;
    line-height: 1.17;
  }

  @media screen and(min-width:1200px) {
    font-size: 14px;
    line-height: 1.7;
  }
}

.checkbox__text--link {
  color: $button-accent;
  margin-left: 5px;
}
