.feature-section {
  @media screen and (min-width: 1200px) {
    padding-bottom: 47px;
  }
}

.feature-list__iteam {
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 120px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 120px;
  }
}

.feature-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    text-align: center;
  }
}

.feature-list__text {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.7;
  color: $secondary-text-color;
}
