.form__btn {
  display: flex;
  gap: 10px;
  align-items: center;

  background: $button-accent;

  padding: 10px 28px 10px 31px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  transition: background-color 250ms $cubic-brizer, color 250ms $cubic-brizer,
    box-shadow 250ms $cubic-brizer;

  &:hover,
  &:focus {
    background-color: $button-hover;
  }
}
