.social-footer {
  display: flex;
  flex-wrap: wrap;
  width: 206px;

  @media screen and(max-width:1199px) {
    justify-content: center;
    margin-left: auto;
  }

  @media screen and(max-width:767px) {
    margin-right: auto;
  }

  @media screen and(min-width:768px) and(max-width:1199px) {
    align-content: flex-start;
  }

  @media screen and(min-width:1200px) {
    margin-left: 70px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-text-color;
  margin-bottom: 20px;
}

.social-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  fill: $grey-color-icon;
}

.social-container__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: $white-color-icon;
  transition: background-color 250ms $cubic-brizer;

  &:hover,
  &:focus {
    background-color: $hover-color-icon;
  }
}
