.header {
  border-bottom: 1px solid #ececec;

  &-container {
    display: flex;
    align-items: center;
    position: relative;

    @media screen and (max-width: 767px) {
      justify-content: space-between;
    }
  }
}
