.button-menu {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.button-menu .icon-cross {
  display: none;
}

.button-menu.is-open .icon-cross {
  display: block;
}

.button-menu.is-open .icon-menu {
  display: none;
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;

    // background: $white-bg-color;
    background-color: rgb(33, 238, 238, 0.5);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }

  //   @media screen and (min-width: 768px) {
  //     display: none;
  //   }

  &is-open {
    display: block;
  }
}

// .menu-container__contacts {
//   @media screen and (max-width: 767px) {
//     margin-top: 302px;
//   }
// }

.menu-container {
  @media screen and(min-width:768px) {
    display: flex;
    gap: 96px;
  }
  @media screen and(min-width:1200px) {
    gap: 315px;
  }
}

.menu-container__contacts {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    align-self: center;
    justify-content: end;
  }
}
