.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: $primary-text-color;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width:480px) {
    width: 370px;
  }

  @media screen and(min-width:1200px) {
    width: 448px;
  }
}

.modal-form__item + .modal-form__item {
  margin-top: 10px;
}

.modal-form__item {
  display: flex;
  flex-direction: column;
  position: relative;

  &:last-child {
    margin-top: 20px;
  }
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $secondary-text-color;
  text-align: start;
  margin-bottom: 4px;
}

.modal-form__icon {
  position: absolute;
  top: 30px;
  left: 12px;
  fill: $primary-text-color;
  transition: fill 250ms $cubic-brizer;
}

.modal-form__input {
  padding: 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms $cubic-brizer;

  @media screen and(min-width:480px) {
    width: 370px;
  }

  @media screen and(min-width:1200px) {
    width: 448px;
    height: 40px;
  }

  &:hover,
  &:focus {
    border-color: $accent-text-color;
  }
}
.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  color: $accent-text-color;
  fill: $accent-text-color;
}

.modal-form__input:hover,
.modal-form__input:focus,
.modal-form__textarea:hover,
.modal-form__textarea:focus {
  border-color: $accent-text-color;
}

textarea {
  resize: none;
}

.modal-form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border 250ms $cubic-brizer;

  &:hover,
  &:focus {
    border-color: $accent-text-color;
  }
}
