.portfolio__list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-card__link {
  display: block;
  transition: box-shadow 250ms $cubic-brizer;
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.box-card {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-card__title {
  color: $primary-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card__text {
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
}
