.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.site-nav {
  display: flex;
}

.site-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  transition: color 250ms $cubic-brizer;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}

.site-nav__item {
  position: relative;

  &:not(:first-child) {
    margin-left: 50px;
  }
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.site-nav__link--current {
  color: $accent-text-color;
}
