.work-section {
  padding-top: 47px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work__list {
  display: flex;

  margin-top: 50px;
  gap: 30px;
}

.work__card {
  position: relative;
}

.work__subtitle {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: $white-text-color;
  background: $rgba-bg-color;
  padding-top: 27px;
  padding-bottom: 27px;
}
